[submodule "libraries/thor_stm32"]
	path = libraries/thor_stm32
	url = git@bitbucket.org:codex653/thor_stm32.git
[submodule "libraries/embeddedMadgwickFilter"]
	path = libraries/embeddedMadgwickFilter
	url = git@github.com:brandonbraun653/EmbeddedMadgwickFilter.git
[submodule "libraries/MiniPID"]
	path = libraries/MiniPID
	url = git@github.com:brandonbraun653/MiniPID.git
[submodule "libraries/kalman"]
	path = libraries/kalman
	url = git@github.com:mherb/kalman.git
